table{
    width: 900px;
    border: 1px solid black;
}

li{
    display: flex;
background-color: #edc7b7;
    padding: 15px;
    border-radius: 3px;
    margin-top: 10px;

}

ul{
    display: flex;
    justify-content: space-around;
    max-width: 900px;
    margin: auto;
    padding-inline-start: unset;
}
.myNav{
    color: red !important;
}

a{
    text-decoration: none;
    color: black;
}

#select{
    width: 300px;
    text-align: center;
    margin: 20px auto 10px auto;

}
.progbar{
    height: 20px;
    border: 2px solid black;
    border-radius: 7px;
    margin: 10px 0 0 0;
}
#progressBarContainer{
    width: 800px;
    margin: 10px auto;
    padding: 0;
}
#progressBarData{
    margin: 0;
    border-radius: 7px 0 0 7px;
}
#progressBarTime{
    margin: 0;
    border-radius: 7px 0 0 7px;
}
