html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("../img/bg.jpg");
    background-size: 100% 100%;
}

table {
    width: 700px;
    border: 1px solid black;
}

li {
    display: flex;
    background-color: #edc7b7;
    padding: 15px;
    border-radius: 3px;
    margin-top: 10px;

}

ul {
    display: flex;
    justify-content: space-around;
    max-width: 900px;
    margin: auto;
    padding-inline-start: unset;
}

.myNav {
    color: red !important;
}

a {
    text-decoration: none;
    color: black;
}

#select {
    width: 300px;
    text-align: center;
    margin: 20px auto 10px auto;

}

.progbar {
    box-sizing: border-box;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 0 0 0;
}

#progressBarContainer {
    width: 90%;
    margin: 10px auto;
}

#progressBarData, #progressBarTime {
    margin: 0;
    border-radius: 3px 0 0 3px;
    height: 16px;
}

th, td{
    font-size: 14px;
}
