html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("../img/bg.jpg");
    background-size: 100% 100%;
}
#container {
    background: ivory;
    max-width: 900px;
    border: 1px solid black;
    margin: 20px auto;
    padding: 2em;
}
h1{
    margin: auto;
}
