html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("../img/bg.jpg");
    background-size: 100% 100%;
}
#TestmakerContainer{
    background: #fff3ed;
    text-align: center;
    padding: 2em;
    max-width: 900px;
    margin: 20px auto;
    /*border: 1px solid black;*/
}
.textInput{
    width: 100%;
    color: #123c69;
    margin-left: 1em;
}

.checkBox{
    display: inline-block;
}

#options{
    text-align: left;
}
