
#TestmakerContainer{
    background: ivory;
    text-align: center;
    padding: 2em;
    max-width: 900px;
    margin: 20px auto;
    border: 1px solid black;
}
.textInput{
    width: 100%;
    color: blue;
    margin-left: 1em;
}

.checkBox{
    display: inline-block;
}

#options{
    text-align: left;
}
